body {
    background-color: rgb(255, 255, 50);
    font-size: 16px;
    padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-size: 1.5rem;
    font-family: Karla, sans-serif;
    color: rgb(0, 128, 128);
    padding: 20px;
}

label {
    margin-left: 20px;
    position: relative;
    top: 2px;
    margin-bottom: 20px;
    margin-top: 80px;
    flex-shrink: 0;
}

input {
    flex-shrink: 0;
}

#add-list-item {
    position: absolute;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid orange;
    background-color: transparent;
    color: #0ea5e9;
    font-size: 2rem;
    line-height: 40px;
    z-index: 1;
    cursor: pointer;
}

.remove-btn,
.edit-btn {
    height: 40px;
    padding: 10px;
    font-family: Open Sans, sans-serif;
    font-size: 1.4rem;
    position: relative;
    top: 8px;
    line-height: 20px;
    margin-left: 20px;
    cursor: pointer;
    flex-shrink: 0;
}

.edit-btn {
    margin-bottom: 40px;
}

.empty-div {
    width: 200px;
    flex-shrink: 1;
}